{"swagger":"2.0","info":{"version":"3","title":"swagger digiposte api"},"host":"api.st4.digiposte.io","tags":[{"name":"Publishers"},{"name":"account"},{"name":"approval"},{"name":"archive"},{"name":"avatar"},{"name":"cgu"},{"name":"collect"},{"name":"contact"},{"name":"contact_share"},{"name":"contacts"},{"name":"credentials"},{"name":"customizationurl"},{"name":"dashboard"},{"name":"device"},{"name":"devices"},{"name":"document"},{"name":"documents"},{"name":"download"},{"name":"file_tree"},{"name":"folder"},{"name":"folders"},{"name":"good"},{"name":"goods"},{"name":"health"},{"name":"healths"},{"name":"housing"},{"name":"housings"},{"name":"i18n"},{"name":"idn"},{"name":"inscription"},{"name":"job"},{"name":"jobs"},{"name":"jwtdocument"},{"name":"legator"},{"name":"legators"},{"name":"membership"},{"name":"membershipId"},{"name":"memberships"},{"name":"notification"},{"name":"notifications"},{"name":"offers"},{"name":"onboardings"},{"name":"partner"},{"name":"partner_procedure"},{"name":"partner_procedures"},{"name":"procedure"},{"name":"procedure_user"},{"name":"procedures"},{"name":"profile"},{"name":"profile_actions"},{"name":"profile_documents"},{"name":"profile_nature"},{"name":"profile_notification"},{"name":"reminder"},{"name":"reminders"},{"name":"routage"},{"name":"sender"},{"name":"senders"},{"name":"share"},{"name":"share_views"},{"name":"shares"},{"name":"sign"},{"name":"supporting"},{"name":"timeline"},{"name":"token_info"},{"name":"trusted_contact"},{"name":"trusted_contacts"},{"name":"user"},{"name":"user_consent"},{"name":"user_mail"},{"name":"user_security"}],"schemes":["https"],"paths":{"/publishers":{"post":{"tags":["Publishers"],"summary":"Create a new publisher","description":"","operation_id":"createPublisher","consumes":["multipart/form-data"],"produces":["application/json"],"parameters":[{"in":"body","name":"publisher_id","description":"Publisher PID","required":true,"schema":{"type":"string"}},{"in":"body","name":"legal_name","description":"Legal name","required":true,"schema":{"type":"string"}},{"in":"body","name":"siren_siret","description":"Siren/Siret","required":false,"schema":{"type":"string"}},{"in":"body","name":"parent_publisher_id","description":"Parent publisher PID","required":false,"schema":{"type":"string"}},{"in":"body","name":"vat_number","description":"VAT number","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}}}}},"/account":{"post":{"tags":["account"],"summary":"Create DGP account and/or add membership","description":"","operation_id":"createAccountOrAddMembership","produces":["application/json"],"parameters":[{"in":"body","name":"account_input","description":"L'identifiant ccu de l'utilisateur et le code Regate (falcultatif)","required":false,"schema":{"$ref":"#/definitions/AccountInput"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"400":{"description":"Missing parameters"},"401":{"description":"Access denied"},"403":{"description":"You don't have the rights to access this resource"}}}},"/account/ccu":{"post":{"tags":["account"],"summary":"Create DGP account from CcuUserId. Used by invitation micro-service.","description":"","operation_id":"createDgpAccount","produces":["application/json"],"parameters":[{"in":"body","name":"account_input","description":"L'identifiant ccu de l'utilisateur et le code Regate (falcultatif)","required":true,"schema":{"$ref":"#/definitions/AccountCreationInput"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"400":{"description":"Missing parameters"},"401":{"description":"Access denied"},"403":{"description":"You don't have the rights to access this resource"}}}},"/approval":{"post":{"tags":["approval"],"summary":"create approval","description":"","operation_id":"createApproval","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/ApprovalInput"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}}}}},"/document":{"post":{"tags":["archive"],"summary":"Upload a document","description":"","operation_id":"archive","consumes":["multipart/form-data"],"produces":["application/json","text/json"],"parameters":[{"in":"body","name":"title","description":"The title of the document","required":false,"schema":{"type":"string","default":" "}},{"in":"body","name":"tag","description":"The tag of the document. Can pass multiple tags separated by | or , char","required":false,"schema":{"type":"string","default":" "}},{"in":"body","name":"hash","description":"The hash value of the document content","required":false,"schema":{"type":"string","default":" "}},{"in":"body","name":"algo","description":"The hash algorithm to check the hash","required":false,"schema":{"type":"string","default":" "}},{"in":"body","name":"folder_id","description":"Folder ID where the document will be stored","required":false,"schema":{"type":"string","default":" "}},{"in":"body","name":"favorite","description":"Favorite document ?","required":false,"schema":{"type":"boolean"}},{"in":"body","name":"archive_size","description":"Size of the archive","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"body","name":"health_document","description":"Health document","required":false,"schema":{"type":"boolean"}},{"in":"body","name":"nature_id","description":"Nature type of the document","required":false,"schema":{"type":"string","default":" "}},{"name":"X-AuthorizeSender","in":"header","required":false,"type":"boolean","default":false},{"in":"body","name":"archive","description":"The file to archive","required":true,"schema":{"$ref":"#/definitions/File"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/FullDocumentMetaData"}},"400":{"description":"The archive size is invalid"},"413":{"description":"The document to upload is too large"},"409":{"description":"The document hash is wrong"}}}},"/document/geo":{"post":{"tags":["archive"],"summary":"Upload a document with latitude and longitude","description":"","operation_id":"geolocalizeArchive","consumes":["multipart/form-data"],"produces":["application/json"],"parameters":[{"in":"body","name":"title","description":"The title of the document","required":false,"schema":{"type":"string","default":" "}},{"in":"body","name":"tag","description":"The tag of the document. Can pass multiple tags separated by | or , char","required":false,"schema":{"type":"string","default":" "}},{"in":"body","name":"hash","description":"The hash value of the document content","required":false,"schema":{"type":"string","default":" "}},{"in":"body","name":"algo","description":"The hash algorithm to check the hash","required":false,"schema":{"type":"string","default":" "}},{"in":"body","name":"timestamp","description":"The document timestamp","required":true,"schema":{"type":"string","default":" "}},{"in":"body","name":"latitude","description":"The document latitude","required":true,"schema":{"type":"number","format":"double"}},{"in":"body","name":"longitude","description":"The document longitude","required":true,"schema":{"type":"number","format":"double"}},{"in":"body","name":"hdop","description":"The document hdop","required":true,"schema":{"type":"string","default":" "}},{"in":"body","name":"folder_id","description":"Folder ID where the document will be stored","required":false,"schema":{"type":"string","default":" "}},{"in":"body","name":"favorite","description":"Favorite document ?","required":false,"schema":{"type":"boolean"}},{"in":"body","name":"archive_size","description":"Size of the archive","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"body","name":"health_document","description":"Health document","required":false,"schema":{"type":"boolean"}},{"name":"X-AuthorizeSender","in":"header","required":false,"type":"boolean","default":false},{"in":"body","name":"archive","description":"The file to archive","required":true,"schema":{"$ref":"#/definitions/File"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/FullDocumentMetaData"}},"400":{"description":"The archive size is invalid"},"413":{"description":"The document to upload is too large"},"409":{"description":"The document to upload is empty"}}}},"/document/certified":{"post":{"tags":["archive"],"summary":"Upload a certified document","description":"","operation_id":"certifiedArchive_3_1","consumes":["multipart/form-data"],"produces":["application/json"],"parameters":[{"in":"body","name":"title","description":"The title of the document.","required":false,"schema":{"type":"string","default":" "}},{"in":"body","name":"subtitle","description":"The subtitle of the document","required":false,"schema":{"type":"string","default":" "}},{"in":"body","name":"summary","description":"The summary of the document","required":false,"schema":{"type":"string","default":" "}},{"in":"body","name":"tag","description":"The tag of the document. Can pass multiple tags separated by | or , char","required":false,"schema":{"type":"string","default":" "}},{"in":"body","name":"hash","description":"The hash value of the document content.","required":true,"schema":{"type":"string","default":" "}},{"in":"body","name":"algo","description":"The hash algorithm to check the hash.","required":true,"schema":{"type":"string","default":" "}},{"in":"body","name":"location","description":"The location (inbox, classeur...)","required":false,"schema":{"type":"string","default":" "}},{"in":"body","name":"type","description":"The type (facture, ...)","required":true,"schema":{"type":"string","default":" "}},{"in":"body","name":"folder_id","description":"Folder ID where the document will be stored","required":false,"schema":{"type":"string","default":" "}},{"in":"body","name":"favorite","description":"Favorite document ?","required":false,"schema":{"type":"boolean"}},{"in":"body","name":"archive_size","description":"Size of the archive","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"body","name":"archive","description":"The file to archive","required":true,"schema":{"$ref":"#/definitions/File"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/FullDocumentMetaData"}},"400":{"description":"The archive size is invalid"},"413":{"description":"The document to upload is too large"},"409":{"description":"The document to upload is empty"}}}},"/document/merge":{"post":{"tags":["archive"],"summary":"Generates a PDF from given files and stores it in the safe","description":"","operation_id":"generatePdf","consumes":["multipart/form-data"],"produces":["application/json"],"parameters":[{"in":"body","name":"title","description":"The title of the document","required":false,"schema":{"type":"string"}},{"in":"body","name":"tag","description":"The tag of the document. Can pass multiple tags separated by | or , char","required":false,"schema":{"type":"string"}},{"in":"body","name":"folder_id","description":"Folder ID where the document will be stored","required":false,"schema":{"type":"string"}},{"in":"body","name":"favorite","description":"Favorite document ?","required":false,"schema":{"type":"boolean"}},{"in":"body","name":"archive_size","description":"Size of the archive","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"body","name":"health_document","description":"Health document","required":false,"schema":{"type":"boolean"}},{"in":"body","name":"nature_id","description":"Document nature","required":false,"schema":{"type":"string"}},{"in":"body","name":"archives","description":"The files to use to generate the PDF document","required":true,"schema":{"$ref":"#/definitions/File"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/FullDocumentMetaData"}},"400":{"description":"The archive size is invalid"},"413":{"description":"The total size of the files to merge is too large"},"409":{"description":"Not enough space left on the user strongbox"}}}},"/document/merge/geo":{"post":{"tags":["archive"],"summary":"Generates a PDF from given files and stores it in the safe","description":"","operation_id":"generatePdfGeo","consumes":["multipart/form-data"],"produces":["application/json"],"parameters":[{"in":"body","name":"title","description":"The title of the document","required":false,"schema":{"type":"string"}},{"in":"body","name":"tag","description":"The tag of the document. Can pass multiple tags separated by | or , char","required":false,"schema":{"type":"string"}},{"in":"body","name":"timestamp","description":"The document timestamp","required":true,"schema":{"type":"string","default":" "}},{"in":"body","name":"latitude","description":"The document latitude","required":true,"schema":{"type":"number","format":"double"}},{"in":"body","name":"longitude","description":"The document longitude","required":true,"schema":{"type":"number","format":"double"}},{"in":"body","name":"hdop","description":"The document hdop","required":true,"schema":{"type":"string","default":" "}},{"in":"body","name":"folder_id","description":"Folder ID where the document will be stored","required":false,"schema":{"type":"string"}},{"in":"body","name":"favorite","description":"Favorite document ?","required":false,"schema":{"type":"boolean"}},{"in":"body","name":"archive_size","description":"Size of the archive","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"body","name":"health_document","description":"Health document","required":false,"schema":{"type":"boolean"}},{"in":"body","name":"archives","description":"The files to use to generate the PDF document","required":true,"schema":{"$ref":"#/definitions/File"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/FullDocumentMetaData"}},"400":{"description":"The archive size is invalid"},"413":{"description":"The total size of the files to merge is too large"},"409":{"description":"Not enough space left on the user strongbox"}}}},"/profile/avatar":{"get":{"tags":["avatar"],"summary":"get user avatar","description":"","operation_id":"getAvatar","produces":["application/json"],"parameters":[],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"the user don't have a avatar"}}},"post":{"tags":["avatar"],"summary":"change user avatar","description":"","operation_id":"postAvatar","produces":["application/json"],"parameters":[{"in":"body","name":"avatar","description":"The avatar to upload","required":true,"schema":{"$ref":"#/definitions/File"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"204":{"description":"Upload OK"}}},"delete":{"tags":["avatar"],"summary":"delete avatar","description":"","operation_id":"deleteAvatar","produces":["application/json"],"parameters":[],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"204":{"description":"Avatar has been deleted."}}}},"/cgu":{"get":{"tags":["cgu"],"summary":"Returns the CGU url and version","description":"","operation_id":"getCGU","produces":["application/json"],"parameters":[],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/CGUDto"}}}}},"/collect/{transactionId}/2fa":{"post":{"tags":["collect"],"summary":"Send the 2FA code to fiducéo or powens","description":"","operation_id":"sendCollectTwoFaCode","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"transactionId","in":"path","required":true,"type":"string"},{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/TwoFaInput"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}}}}},"/collect/{transactionId}":{"get":{"tags":["collect"],"summary":"Return collect status from fiducéo","description":"","operation_id":"getCollectStatus","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"transactionId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/MembershipCollectStatus"}}},"deprecated":true}},"/contact/{id}/procedures":{"get":{"tags":["contact"],"summary":"Renvoit la liste d'id des procedures associés au membre","description":"","operation_id":"getProcedures","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The ID of the contact member","required":true,"type":"string"},{"name":"index","in":"query","description":"The index of the pagination","required":false,"type":"integer","format":"int32"},{"name":"max_results","in":"query","description":"The maximum number of results returned","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"403":{"description":"Forbidden"},"404":{"description":"Member not found"}}}},"/contact/{id}/document":{"post":{"tags":["contact"],"summary":"Ajoute un document au membre courant","description":"","operation_id":"addDocument","consumes":["application/json"],"parameters":[{"name":"id","in":"path","description":"The ID of the contact member","required":true,"type":"string"},{"in":"body","name":"body","description":"the id of the document","required":true,"schema":{"$ref":"#/definitions/DocumentIdInput"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"403":{"description":"Forbidden"},"404":{"description":"Member not found"},"409":{"description":"the given document id has been already added"}}}},"/contact/{id}/document/{document_id}":{"delete":{"tags":["contact"],"summary":"Supprime la reference du document associés au membre","description":"","operation_id":"deleteDocument","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The ID of the contact member","required":true,"type":"string"},{"name":"document_id","in":"path","description":"the id of the document","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"403":{"description":"Forbidden"},"404":{"description":"Document not found"}}}},"/contact/{id}/picture":{"get":{"tags":["contact"],"summary":"get itemContact picture","description":"","operation_id":"getAvatar","parameters":[{"name":"id","in":"path","description":"The ID of the contact member","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"403":{"description":"Forbidden"},"404":{"description":"Member not found"}}},"post":{"tags":["contact"],"summary":"change member picture","description":"","operation_id":"postAvatar","parameters":[{"name":"id","in":"path","description":"The ID of the contact member","required":true,"type":"string"},{"in":"body","name":"picture","description":"The picture to upload","required":true,"schema":{"$ref":"#/definitions/File"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"204":{"description":"Upload OK"},"403":{"description":"Forbidden"},"404":{"description":"Member not found"}}},"delete":{"tags":["contact"],"summary":"delete picture","description":"","operation_id":"deleteAvatar","parameters":[{"name":"id","in":"path","description":"The ID of the contact member","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"204":{"description":"Photo has been deleted."},"403":{"description":"Forbidden"},"404":{"description":"Member not found"}}}},"/contact/{id}/call_again_invitation":{"post":{"tags":["contact"],"summary":"Re-send mail invitation to contact member for the current user","description":"","operation_id":"sendEmailAgain","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The ID of the contact member","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"403":{"description":"Your account cannot access to this resource. "},"404":{"description":"Member not found"}}}},"/contact/{id}/answer_invitation":{"post":{"tags":["contact"],"summary":"accept invitation","description":"","operation_id":"acceptInvitation","parameters":[{"name":"id","in":"path","description":"The ID of the contact member","required":true,"type":"string"},{"in":"body","name":"accepted","description":"accept invitation ?","required":true,"schema":{"$ref":"#/definitions/ContactInvitationData"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Contact not found"},"409":{"description":"user can't answer his own invitation"}}}},"/contact/{id}/documents":{"get":{"tags":["contact"],"summary":"Renvoit la liste des documents associés au membre","description":"","operation_id":"getAllDocuments","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The ID of the contact member","required":true,"type":"string"},{"name":"index","in":"query","description":"The index of the pagination","required":false,"type":"integer","format":"int32"},{"name":"max_results","in":"query","description":"The maximum number of results returned","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DocumentList"}},"403":{"description":"Forbidden"},"404":{"description":"Member not found"}}}},"/contact/{id}/procedure":{"post":{"tags":["contact"],"summary":"Ajoute une procedures associés au membre","description":"","operation_id":"addProcedure","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The ID of the contact member","required":true,"type":"string"},{"in":"body","name":"user_procedure_id","description":"the id of the procedure","required":true,"schema":{"$ref":"#/definitions/UserProcedureIdInput"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"403":{"description":"Forbidden"},"404":{"description":"Procedure not found"}}}},"/contact/{id}/procedure/{user_procedure_id}":{"delete":{"tags":["contact"],"summary":"Retire une procedures associés au membre","description":"","operation_id":"deleteProcedure","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The ID of the contact member","required":true,"type":"string"},{"name":"user_procedure_id","in":"path","description":"the id of the procedure","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"403":{"description":"Forbidden"},"404":{"description":"Procedure not found"}}}},"/contact/{id}/timeline":{"get":{"tags":["contact"],"summary":"Retrieve the timeline of a Contact member","description":"","operation_id":"getContactEvents","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The ID of the contact member","required":true,"type":"string"},{"name":"index","in":"query","description":"The index of the pagination","required":false,"type":"integer","format":"int32"},{"name":"max_results","in":"query","description":"The maximum number of results returned","required":false,"type":"integer","format":"int32"},{"name":"since_id","in":"query","description":"The returned items should be created after the item whose id is the given field","required":false,"type":"string"},{"name":"max_id","in":"query","description":"The returned items should be created before the item whose id is the given field","required":false,"type":"string"},{"name":"type","in":"query","description":"The type of the returned items","required":false,"type":"string"},{"name":"status","in":"query","description":"Status of timeline events","required":false,"type":"string","enum":["ARCHIVED","NOT_ARCHIVED"]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"403":{"description":"Unknow user."},"404":{"description":"Unknow ID"}}}},"/contact":{"post":{"tags":["contact"],"summary":"Add a contact member for the current user","description":"","operation_id":"add","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"Add contact member to current user's contact universe","required":true,"schema":{"$ref":"#/definitions/ContactInput"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ContactData"}},"409":{"description":"the given email is already used for another relationship"}}}},"/contact/{id}":{"get":{"tags":["contact"],"summary":"Get a contact member","description":"","operation_id":"get","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The ID of the contact member","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ContactData"}},"403":{"description":"Forbidden"},"404":{"description":"Member not found"}}},"put":{"tags":["contact"],"summary":"Update a contact member for the current user","description":"","operation_id":"update","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"Add contact member to current user's contact universe","required":true,"schema":{"$ref":"#/definitions/ContactInput"}},{"name":"id","in":"path","description":"The ID of the contact member","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ContactData"}},"403":{"description":"Forbidden"},"404":{"description":"Member not found"}}},"delete":{"tags":["contact"],"summary":"delete a contact member","description":"","operation_id":"delete","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The ID of the contact member","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ContactData"}},"403":{"description":"Forbidden"},"404":{"description":"Member not found"}}}},"/contact/{id}/share/content":{"get":{"tags":["contact_share"],"summary":"Returns the document content","description":"","operation_id":"content","parameters":[{"name":"id","in":"path","description":"Identifiant du contact","required":true,"type":"string"},{"name":"document_id","in":"query","description":"Identifiant du document à télécharger","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"403":{"description":"User not allowed to get documents from share"},"404":{"description":"share not found"},"409":{"description":"Document(s) is not share"}}}},"/contact/{id}/share/documents":{"get":{"tags":["contact_share"],"summary":"get all shared documents","description":"","operation_id":"findAllSharedDocuments","parameters":[{"name":"id","in":"path","description":"Identifiant du contact","required":true,"type":"string"},{"name":"index","in":"query","description":"The index of the pagination","required":false,"type":"integer","format":"int32"},{"name":"max_results","in":"query","description":"The maximum number of results returned","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"403":{"description":"User not allowed to get documents from share"},"404":{"description":"share not found"}}},"post":{"tags":["contact_share"],"summary":"add documents to share","description":"","operation_id":"addDocumentsToShare","parameters":[{"name":"id","in":"path","description":"Identifiant du contact","required":true,"type":"string"},{"in":"body","name":"body","description":"Les ids des documents à mettre dans le partage","required":true,"schema":{"$ref":"#/definitions/IdSet"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"400":{"description":"Document list is emtpty"},"403":{"description":"User not allowed to add documents to share"},"404":{"description":"share not found"},"409":{"description":"Document(s) already exist"}}},"delete":{"tags":["contact_share"],"summary":"delete documents from share","description":"","operation_id":"deleteDocumentsFromShare","parameters":[{"name":"id","in":"path","description":"Identifiant du contact","required":true,"type":"string"},{"in":"body","name":"body","description":"Les ids des documents à mettre dans le partage","required":true,"schema":{"$ref":"#/definitions/IdSet"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"204":{"description":"Document(s) has been deleted from share"},"403":{"description":"User not allowed to delete documents from share"},"404":{"description":"Share not found"}}}},"/contact/{id}/share/documents/copy":{"post":{"tags":["contact_share"],"summary":"Save shared documents","description":"","operation_id":"saveDocumentsToLocalStrongBox","parameters":[{"name":"id","in":"path","description":"Identifiant du contact","required":true,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/ContactShareCopy"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/FullDocumentMetaData"}},"403":{"description":"User not allowed to access to document"}}}},"/contacts":{"get":{"tags":["contacts"],"summary":"return all contact of the current user","description":"","operation_id":"getAll","produces":["application/json"],"parameters":[{"name":"index","in":"query","description":"The index of the pagination","required":false,"type":"integer","format":"int32"},{"name":"max_results","in":"query","description":"The maximum number of results returned","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}}}}},"/credentials/question/matches":{"put":{"tags":["credentials"],"summary":"Verify that the given answer matches the user secret question","description":"","operation_id":"postSecretQuestionAndAnswer","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"The new secret question","required":false,"schema":{"$ref":"#/definitions/UserCredentialsQuestion"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"409":{"description":"the given answer matches the user secret question"}}}},"/credentials/{login}/question/matches":{"put":{"tags":["credentials"],"summary":"Verify that the given answer matches the user secret question","description":"","operation_id":"checkUserSecretQuestionAndAnswer","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"The new secret question","required":true,"schema":{"$ref":"#/definitions/UserCredentialsQuestion"}},{"name":"login","in":"path","description":"The user's login","required":true,"type":"string"},{"name":"uri","in":"query","description":"The URI of reset link","required":false,"type":"string"},{"name":"ccu","in":"query","required":false,"type":"boolean"},{"name":"type","in":"query","required":false,"type":"string","enum":["PERSON","COMPANY"]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"400":{"description":"Invalid request parameters"},"409":{"description":"the given answer matches the user secret question"}}}},"/credentials/{email}/email_reset_credentials":{"put":{"tags":["credentials"],"summary":"Send email to reset credentials","description":"","operation_id":"putEmailResetCredentials","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"email","in":"path","required":true,"type":"string"},{"name":"ccu","in":"query","required":false,"type":"boolean"},{"name":"type","in":"query","required":false,"type":"string"},{"name":"rc","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}}}}},"/credentials/password/matches":{"post":{"tags":["credentials"],"summary":"Verify that the given password is correct","description":"","operation_id":"postPasswordVerification","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"The password to verify","required":true,"schema":{"$ref":"#/definitions/PasswordToVerifyData"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"409":{"description":"the given password is incorrect"}}}},"/credentials/raw_password/matches":{"post":{"tags":["credentials"],"summary":"Verify that the given password is correct","description":"","operation_id":"postRawPasswordVerification","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"The password to verify","required":true,"schema":{"$ref":"#/definitions/RawPasswordToVerifyData"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"409":{"description":"the given password is incorrect"}}}},"/credentials/password":{"put":{"tags":["credentials"],"summary":"Updates the password","description":"","operation_id":"putNewPassword","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"The old password, and the new password","required":true,"schema":{"$ref":"#/definitions/PasswordUpdateData"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"412":{"description":"the old password is incorrect"}}}},"/credentials/raw_password":{"put":{"tags":["credentials"],"summary":"Updates the password","description":"","operation_id":"putNewRawPassword","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"The old password, and the new password","required":true,"schema":{"$ref":"#/definitions/RawPasswordUpdateData"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"400":{"description":"The new password is too leak"},"412":{"description":"the old password is incorrect"}}}},"/credentials/password/reset":{"put":{"tags":["credentials"],"summary":"Reset the password","description":"","operation_id":"putResetPassword","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"The validation link, and the new password","required":false,"schema":{"$ref":"#/definitions/PasswordResetData"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"412":{"description":"The password is too weak"},"408":{"description":"The link is expired"}}}},"/credentials/login/change":{"post":{"tags":["credentials"],"summary":"Initialisation d'un changement de login","description":"","operation_id":"changeLogin","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"The data for update login payload","required":true,"schema":{"$ref":"#/definitions/LoginChangeInput"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"409":{"description":"the given password is incorrect"}}}},"/credentials/{code}/valid":{"get":{"tags":["credentials"],"summary":"Validation d'un changement de login","description":"","operation_id":"checkValidationCode","produces":["application/json"],"parameters":[{"name":"code","in":"path","description":"The validation code","required":true,"type":"string"},{"name":"token","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/LoginChangeData"}},"404":{"description":"There is no user associated to this code"}}}},"/credentials/{login}/{email}/question":{"get":{"tags":["credentials"],"summary":"Returns the user secret question","description":"","operation_id":"getSecretQuestionWithLoginAndEmail","produces":["application/json"],"parameters":[{"name":"login","in":"path","required":true,"type":"string"},{"name":"email","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/UserCredentialsQuestion"}},"404":{"description":"Cannot find user"}}}},"/credentials/{login}/question":{"get":{"tags":["credentials"],"summary":"Returns the user secret question","description":"","operation_id":"getSecretQuestionWithLogin","produces":["application/json"],"parameters":[{"name":"login","in":"path","required":true,"type":"string"},{"name":"ccu","in":"query","required":false,"type":"boolean"},{"name":"type","in":"query","required":false,"type":"string","enum":["PERSON","COMPANY"]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/UserCredentialsQuestion"}},"404":{"description":"Cannot find user"},"409":{"description":"Given parameters and user state did not match"}}}},"/credentials/questions":{"get":{"tags":["credentials"],"summary":"Returns the user secret question","description":"","operation_id":"getSecretQuestions","produces":["application/json"],"parameters":[],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/CredentialsQuestions"}}}}},"/credentials/question":{"get":{"tags":["credentials"],"summary":"Returns the user secret question","description":"","operation_id":"getSecretQuestion","produces":["application/json"],"parameters":[],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/UserCredentialsQuestion"}}}},"put":{"tags":["credentials"],"summary":"Updates the user secret question","description":"","operation_id":"putSecretQuestion","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"The new secret question","required":false,"schema":{"$ref":"#/definitions/UserCredentialsQuestion"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"400":{"description":"Invalid request parameters"}}}},"/credentials/secret_question":{"get":{"tags":["credentials"],"summary":"search if the user have a secret question defined","description":"","operation_id":"findSecretQuestionForPinpad","produces":["application/json"],"parameters":[{"name":"login","in":"query","required":true,"type":"string"},{"name":"email","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/UserSecretQuestionSigned"}},"404":{"description":"This login or email are invalid"}}}},"/credentials/{email}/logins":{"get":{"tags":["credentials"],"summary":"Return login list available for given email","description":"","operation_id":"getLoginList","produces":["application/json"],"parameters":[{"name":"email","in":"path","required":true,"type":"string"},{"name":"uri","in":"query","required":false,"type":"string"},{"name":"mail_valid","in":"query","required":false,"type":"boolean"},{"name":"ccu_linked","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/StringList"}}}}},"/user/customizationurl/token/{token}":{"get":{"tags":["customizationurl"],"summary":"Check the validity of the given token","description":"","operation_id":"checkUserTokenValidity","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"token","in":"path","description":"The token to check","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/UserOutput"}},"400":{"description":"token is mandatory"},"403":{"description":"token expired"},"404":{"description":"token not found"}}}},"/user/customizationurl":{"post":{"tags":["customizationurl"],"summary":"create new token for user or renew them","description":"","operation_id":"createOrRenewCustomizationUrl","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/PartialAccountTypedInput"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/CustomizationUrlOutput"}},"400":{"description":"le user_id est manquant"},"403":{"description":"le partenaire n'est pas propriétaire du compte"},"404":{"description":"utilisateur non trouvé"},"409":{"description":"le compte a déjà été transformé"}}}},"/dashboard":{"get":{"tags":["dashboard"],"summary":"Returns the dashboard","description":"","operation_id":"get","produces":["application/json"],"parameters":[],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Dashboard"}}}}},"/device":{"post":{"tags":["device"],"summary":"update user device","description":"","operation_id":"updateDeviceToken","consumes":["application/json"],"parameters":[{"in":"body","name":"body","description":"the that will be created","required":true,"schema":{"$ref":"#/definitions/DeviceData"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"201":{"description":"the new association was created"},"400":{"description":"Unknown device type or empty token"},"404":{"description":"Unknown device"}}},"delete":{"tags":["device"],"summary":"delete user device","description":"","operation_id":"deleteDeviceToken","consumes":["application/json"],"parameters":[{"in":"body","name":"body","description":"the device to delete","required":true,"schema":{"$ref":"#/definitions/DeviceData"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"201":{"description":"the new association was deleted"},"400":{"description":"Unknown device type or empty token"}}}},"/devices":{"get":{"tags":["devices"],"summary":"get user devices","description":"","operation_id":"getDeviceTokens","consumes":["application/json"],"parameters":[],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}}}}},"/document/{document_id}/content":{"get":{"tags":["document"],"summary":"Returns the document content","description":"","operation_id":"content","produces":["application/json"],"parameters":[{"name":"document_id","in":"path","description":"Identifiant du document à télécharger","required":true,"type":"string","pattern":".{32}"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"The document doesn't exist"}}}},"/document/{document_id}/classify":{"put":{"tags":["document"],"summary":"Classify the document","description":"","operation_id":"classify","produces":["application/json"],"parameters":[{"name":"document_id","in":"path","required":true,"type":"string","pattern":".{32}"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/FullDocumentMetaData"}},"404":{"description":"The document doesn't exists"},"409":{"description":"The document to classify must be in inbox"}}}},"/document/{document_id}/with_shares":{"get":{"tags":["document"],"summary":"Returns the document metadata with relative shares","description":"","operation_id":"getWithShares","produces":["application/json"],"parameters":[{"name":"document_id","in":"path","description":"Identifiant du document","required":true,"type":"string","pattern":".{32}"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/FullDocumentMetaDataWithShareData"}},"404":{"description":"The document doesn't exist"}}}},"/document/{document_id}/thumbnail":{"get":{"tags":["document"],"summary":"Returns the document thumbnail","description":"","operation_id":"getThumbnail","produces":["image/png"],"parameters":[{"name":"document_id","in":"path","description":"Identifiant du document","required":true,"type":"string","pattern":".{32}"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"The document doesn't exist"}}}},"/document/{document_id}/content/2ddoc":{"get":{"tags":["document"],"summary":"Returns the document content","description":"","operation_id":"content2ddoc","produces":["application/json"],"parameters":[{"name":"document_id","in":"path","description":"Identifiant du document à télécharger","required":true,"type":"string","pattern":".{32}"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"The document doesn't exist"}}}},"/document/{document_id}/tags/{tags}":{"put":{"tags":["document"],"summary":"Update tags of the document, the old tags will be overriden","description":"","operation_id":"updateDocumentTags","produces":["application/json"],"parameters":[{"name":"document_id","in":"path","required":true,"type":"string","pattern":".{32}"},{"name":"tags","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/FullDocumentMetaData"}},"400":{"description":"Tags are not properly formatted"},"404":{"description":"The document doesn't exists"}}}},"/document/{document_id}/read_status/{read_status}":{"put":{"tags":["document"],"summary":"Update the read status of the document","description":"","operation_id":"setReadStatus","produces":["application/json"],"parameters":[{"name":"document_id","in":"path","required":true,"type":"string","pattern":".{32}"},{"name":"read_status","in":"path","required":true,"type":"boolean"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/FullDocumentMetaData"}},"404":{"description":"The document doesn't exists"}}}},"/document/{document_id}/favorite_status/{favorite_status}":{"put":{"tags":["document"],"summary":"Update the read status of the document","description":"","operation_id":"setFavoriteStatus","produces":["application/json"],"parameters":[{"name":"document_id","in":"path","required":true,"type":"string","pattern":".{32}"},{"name":"favorite_status","in":"path","required":true,"type":"boolean"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/FullDocumentMetaData"}},"404":{"description":"The document doesn't exists"},"409":{"description":"The document to mark as read/unread must not be already in this state"}}}},"/document/{document_id}/reminders":{"get":{"tags":["document"],"summary":"Get list of reminders of a document","description":"","operation_id":"getRemindersList","produces":["application/json"],"parameters":[{"name":"document_id","in":"path","description":"Identifiant du document","required":true,"type":"string","pattern":".{32}"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ReminderDataList"}},"500":{"description":"Internal error"},"404":{"description":"Reminders not found"}}}},"/document/{document_id}/verify":{"post":{"tags":["document"],"summary":"Verify a document","description":"","operation_id":"verifyDocument","produces":["application/json"],"parameters":[{"name":"document_id","in":"path","description":"Identifiant du document","required":true,"type":"string","pattern":".{32}"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}}}}},"/document/{document_id}/reminder":{"post":{"tags":["document"],"summary":"Create a reminder on a document","description":"","operation_id":"createReminder","produces":["application/json"],"parameters":[{"name":"document_id","in":"path","description":"Identifiant du document","required":true,"type":"string","pattern":".{32}"},{"in":"body","name":"body","description":"Title and date of reminder that will be created","required":true,"schema":{"$ref":"#/definitions/ReminderInput"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/FullDocumentMetaData"}},"400":{"description":"Title or date are invalids"},"500":{"description":"Internal error"},"404":{"description":"document not found"}}}},"/document/{document_id}/certificate":{"get":{"tags":["document"],"summary":"get document certificate","description":"","operation_id":"getDocumentCertificate","produces":["application/json"],"parameters":[{"name":"document_id","in":"path","description":"Identifiant du document","required":true,"type":"string","pattern":".{32}"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}}}}},"/document/{document_id}":{"get":{"tags":["document"],"summary":"Returns the document metadata","description":"","operation_id":"get","produces":["application/json"],"parameters":[{"name":"document_id","in":"path","description":"Identifiant du document","required":true,"type":"string","pattern":".{32}"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/FullDocumentMetaData"}},"404":{"description":"The document doesn't exist"}}},"delete":{"tags":["document"],"summary":"Delete a document in trash","description":"","operation_id":"delete","produces":["application/json"],"parameters":[{"name":"document_id","in":"path","description":"Identifiant du document","required":true,"type":"string","pattern":".{32}"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"The document doesn't exist"},"409":{"description":"The document to delete must be in trash"}}}},"/document/{document_id}/rename/{new_name}":{"put":{"tags":["document"],"summary":"Rename the document","description":"","operation_id":"rename","produces":["application/json"],"parameters":[{"name":"document_id","in":"path","required":true,"type":"string","pattern":".{32}"},{"name":"new_name","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/FullDocumentMetaData"}},"404":{"description":"The document doesn't exists"},"409":{"description":"Certified document cannot be renamed"}}}},"/documents/facet":{"post":{"tags":["documents"],"summary":"Returns documents facet that match the search","description":"","operation_id":"facet","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"The search criteria","required":true,"schema":{"$ref":"#/definitions/DocumentSearch"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DocumentsFacet"}},"406":{"description":"Invalid search filter value for Location"}}}},"/documents/userTags":{"get":{"tags":["documents"],"summary":"Returns documents userTags of the user","description":"","operation_id":"getUserTags","consumes":["application/json"],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/TagsFacet"}}}}},"/documents/multiReadStatus/{read_status}":{"post":{"tags":["documents"],"summary":"Update the read status of multiple documents at once","description":"","operation_id":"updateDocumentsReadStatus","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"The document ids to trash","required":true,"schema":{"$ref":"#/definitions/IdSet"}},{"name":"read_status","in":"path","required":true,"type":"boolean"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"403":{"description":"You do not have the permission on some of these documents"},"404":{"description":"At least one of the documents to update the read status could not be found"},"409":{"description":"Can't update the read status of so many documents in a single request"}}}},"/documents/senders/{sender_id}/shares/{partner_user_id}/all":{"get":{"tags":["documents"],"summary":"Returns the metadata of all documents, including those contained in folders (handled by microservice share) identified by senderId and partnerUserId.","description":"","operation_id":"listAllShareDocumentsMetaDataForUser","produces":["application/json"],"parameters":[{"name":"sender_id","in":"path","required":true,"type":"string"},{"name":"partner_user_id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/SharedDocumentOutput"}},"400":{"description":"Bad request"}}}},"/documents/senders/{sender_id}/shares/{partner_user_id}":{"get":{"tags":["documents"],"summary":"Returns metadata of documents included in sender share (handled by microservice share) identified by senderId and partnerUserId","description":"","operation_id":"listShareDocumentsMetaDataForUser","produces":["application/json"],"parameters":[{"name":"sender_id","in":"path","required":true,"type":"string"},{"name":"partner_user_id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/SharedDocumentOutput"}},"400":{"description":"Bad request"}}}},"/documents/shares/{partner_user_id}":{"get":{"tags":["documents"],"summary":"Returns metadata of documents included in sender share (handled by microservice share) identified by senderId and partnerUserId","description":"","operation_id":"listShareDocumentsMetaDataForPartner","produces":["application/json"],"parameters":[{"name":"partner_user_id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/SharedDocumentOutput"}},"400":{"description":"Bad request"}}},"post":{"tags":["documents"],"summary":"Returns metadata of documents included in sender share (handled by microservice share) identified by senderId and partnerUserId","description":"","operation_id":"listMetaDataForProvidedDocumentsInSenderShare","produces":["application/json"],"parameters":[{"name":"partner_user_id","in":"path","required":true,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/DocumentIdsInput"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/SharedDocumentOutput"}},"400":{"description":"Bad request"}}}},"/documents/metadata":{"post":{"tags":["documents"],"summary":"Returns metadata of documents included in documents id array","description":"","operation_id":"listMetaDataForDocumentIds","produces":["application/json"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/DocumentIdsInput"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/SharedDocumentOutput"}},"400":{"description":"Bad request"}}}},"/documents/safe":{"get":{"tags":["documents"],"summary":"Returns all user's documents which are in the strongbox","description":"","operation_id":"listSafe","produces":["application/json"],"parameters":[{"name":"index","in":"query","description":"The index of the pagination","required":false,"type":"integer","format":"int32"},{"name":"max_results","in":"query","description":"The maximum number of results returned","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"The field on which you want to sort the results","required":false,"type":"string","enum":["TYPE","TITLE","FILENAME","AUTHOR_NAME","CREATION_DATE","WAS_READ","LOCATION","IS_SHARED","SIZE","DIGISHOOT","CHARGEABLE_AMOUNT"]},{"name":"direction","in":"query","description":"The direction in which you want to sort the results, for the given field","required":false,"type":"string","enum":["ASCENDING","DESCENDING"]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DocumentList"}},"400":{"description":"Bad pagination values provided"}}}},"/documents/byNatures":{"post":{"tags":["documents"],"summary":"Returns n-last documents for each given nature pid","description":"","operation_id":"getNLastDocumentsByNaturePids","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"input with list of couple (pid, wanted)","required":true,"schema":{"$ref":"#/definitions/DynamicProcedureInput"}},{"name":"safeOnly","in":"query","description":"to look for documents only in safe and inbox","required":false,"type":"boolean"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DocumentList"}}}}},"/documents":{"get":{"tags":["documents"],"summary":"Returns all user's documents","description":"","operation_id":"listAll","produces":["application/json"],"parameters":[{"name":"index","in":"query","description":"The index of the pagination","required":false,"type":"integer","format":"int32"},{"name":"max_results","in":"query","description":"The maximum number of results returned","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"The field on which you want to sort the results","required":false,"type":"string","enum":["TYPE","TITLE","FILENAME","AUTHOR_NAME","CREATION_DATE","WAS_READ","LOCATION","IS_SHARED","SIZE","DIGISHOOT","CHARGEABLE_AMOUNT"]},{"name":"direction","in":"query","description":"The direction in which you want to sort the results, for the given field","required":false,"type":"string","enum":["ASCENDING","DESCENDING"]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DocumentList"}},"400":{"description":"Bad pagination values provided"}}},"post":{"tags":["documents"],"summary":"Returns a map < key = docId, value= metadata >","description":"","operation_id":"postEnrollmentDocumentsIds","produces":["application/json"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/IdSet"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"400":{"description":"bad request"},"404":{"description":"document not found"}}}},"/documents/getMultiTag":{"post":{"tags":["documents"],"summary":"Permits to retrieve the document tags (user tags) of multiple documents in one request","description":"","operation_id":"getMultiTagData","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"The document ids for which you want to retrieve the document tags","required":true,"schema":{"$ref":"#/definitions/IdSet"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/MultiTagData"}},"403":{"description":"You do not have the permission on some of these documents"},"404":{"description":"At least one of the documents could not be found"},"409":{"description":"Can't get the tags of so many documents in a single request"}}}},"/documents/multiTag":{"post":{"tags":["documents"],"summary":"Tag multiple documents (user tags), with different tag values for each","description":"","operation_id":"tagDocuments","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"The new tags to set for the documents","required":true,"schema":{"$ref":"#/definitions/MultiTagData"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"400":{"description":"The payload or tags provided is invalid"},"403":{"description":"You do not have the permission on some of these documents"},"404":{"description":"At least one of the documents to tag could not be found"},"409":{"description":"Can't tag so many documents in a single request"}}}},"/documents/choose":{"post":{"tags":["documents"],"summary":"Returns all user's documents that match the search","description":"","operation_id":"chooserDocs","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"The search criteria","required":true,"schema":{"$ref":"#/definitions/ChooseDocsCriteria"}},{"name":"sort","in":"query","description":"The field on which you want to sort the results","required":false,"type":"string","enum":["FILENAME","SIZE","CREATION_DATE"]},{"name":"direction","in":"query","description":"The direction in which you want to sort the results, for the given field","required":false,"type":"string","enum":["ASCENDING","DESCENDING"]},{"name":"use_finder_search","in":"query","description":"Use finder backend for research","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DocumentList"}},"400":{"description":"Nature PID is not a valid value."}}}},"/documents/shares/{partnerUserId}/sharedFolders":{"get":{"tags":["documents"],"summary":"Returns the folders tree","description":"","operation_id":"getSharedFolders","produces":["application/json"],"parameters":[{"name":"partnerUserId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/FolderTreeViewListWithRoot"}}}}}},"/documents/shares/{shareId}/folders/{folderId}/documents":{"get":{"tags":["documents"],"summary":"Returns the documents by folder id shared by sender","description":"","operation_id":"getDocumentsInFolderSharedBySender","produces":["application/json"],"parameters":[{"name":"folderId","in":"path","required":true,"type":"string"},{"name":"shareId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}}}}},"/documents/inbox":{"get":{"tags":["documents"],"summary":"Returns all user's documents which are in the mailbox","description":"","operation_id":"listInbox","produces":["application/json"],"parameters":[{"name":"index","in":"query","description":"The index of the pagination","required":false,"type":"integer","format":"int32"},{"name":"max_results","in":"query","description":"The maximum number of results returned","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"The field on which you want to sort the results","required":false,"type":"string","enum":["TYPE","TITLE","FILENAME","AUTHOR_NAME","CREATION_DATE","WAS_READ","LOCATION","IS_SHARED","SIZE","DIGISHOOT","CHARGEABLE_AMOUNT"]},{"name":"direction","in":"query","description":"The direction in which you want to sort the results, for the given field","required":false,"type":"string","enum":["ASCENDING","DESCENDING"]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DocumentList"}},"400":{"description":"Bad pagination values provided"}}}},"/documents/trash":{"get":{"tags":["documents"],"summary":"Returns all user's documents which are in the trash","description":"","operation_id":"listTrash","produces":["application/json"],"parameters":[{"name":"index","in":"query","description":"The index of the pagination","required":false,"type":"integer","format":"int32"},{"name":"max_results","in":"query","description":"The maximum number of results returned","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"The field on which you want to sort the results","required":false,"type":"string","enum":["TYPE","TITLE","FILENAME","AUTHOR_NAME","CREATION_DATE","WAS_READ","LOCATION","IS_SHARED","SIZE","DIGISHOOT","CHARGEABLE_AMOUNT"]},{"name":"direction","in":"query","description":"The direction in which you want to sort the results, for the given field","required":false,"type":"string","enum":["ASCENDING","DESCENDING"]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DocumentList"}},"400":{"description":"Bad pagination values provided"}}}},"/documents/read":{"post":{"tags":["documents"],"summary":"mark unread documents as read","description":"","operation_id":"read","consumes":["application/json"],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/MarkedDocuments"}}}}},"/documents/copy":{"post":{"tags":["documents"],"summary":"Copie les documents dans un répertoire du coffre.","description":"","operation_id":"copy","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/DocumentsCopy"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DocumentList"}},"403":{"description":"User not allowed to access to document"}}}},"/documents/search":{"post":{"tags":["documents"],"summary":"Returns all user's documents that match the search","description":"","operation_id":"search","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"The search criteria","required":true,"schema":{"$ref":"#/definitions/DocumentSearch"}},{"name":"index","in":"query","description":"The index of the pagination","required":false,"type":"integer","format":"int32"},{"name":"max_results","in":"query","description":"The maximum number of results returned","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"The field on which you want to sort the results","required":false,"type":"string","enum":["TYPE","TITLE","FILENAME","AUTHOR_NAME","CREATION_DATE","WAS_READ","LOCATION","IS_SHARED","SIZE","DIGISHOOT","CHARGEABLE_AMOUNT"]},{"name":"direction","in":"query","description":"The direction in which you want to sort the results, for the given field","required":false,"type":"string","enum":["ASCENDING","DESCENDING"]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DocumentList"}},"400":{"description":"Bad user"},"406":{"description":"Invalid search filter value for Location"}}}},"/download/archive":{"get":{"tags":["download"],"summary":"Retrieve archive with all documents download","description":"","operation_id":"getArchive","parameters":[{"name":"partNumber","in":"query","description":"The number of archive part","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}}}},"post":{"tags":["download"],"summary":"Start archive with all documents creation","description":"","operation_id":"postArchive","consumes":["application/json","text/plain"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/OneClickDownloadRequest"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}}}},"delete":{"tags":["download"],"summary":"Delete archive","description":"","operation_id":"deleteArchive","parameters":[],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}}}}},"/download/documents/info":{"get":{"tags":["download"],"summary":"Returns size of all documents, indicates whether the safe contains health document and whether download is allowed","description":"","operation_id":"getAllDocumentsInfo","consumes":["application/json"],"parameters":[],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DownloadInfo"}}}}},"/download/documents":{"get":{"tags":["download"],"summary":"Returns a zip file with all documents","description":"","operation_id":"getAllDocumentsArchive","consumes":["application/json"],"produces":["application/zip"],"parameters":[],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}}}},"post":{"tags":["download"],"summary":"Returns a zip file with all documents","description":"","operation_id":"getDocumentsArchive","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"body","description":"Add document to user procedure","required":true,"schema":{"$ref":"#/definitions/DownloadInput"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}}}}},"/download/procedure/{procedure_id}":{"get":{"tags":["download"],"summary":"Save procedure's documents in a zip file","description":"","operation_id":"getProcedureArchive","parameters":[{"name":"procedure_id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}}}}},"/download/profile/documents":{"get":{"tags":["download"],"summary":"Save profile's documents in a zip file","description":"","operation_id":"getProfileArchive","parameters":[],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}}}}},"/download/partner/archives":{"post":{"tags":["download"],"summary":"Start archive documents for partner users","description":"","operation_id":"postArchives","consumes":["application/json","text/plain"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"type":"array","items":{"$ref":"#/definitions/PartnerOneClickDownloadRequest"}}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}}}}},"/download/archive/status":{"get":{"tags":["download"],"summary":"Retrieve archive with all documents download's link","description":"","operation_id":"getArchiveStatus","parameters":[],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}}}}},"/file/tree/info":{"post":{"tags":["file_tree"],"summary":"Returns documents and folders' size","description":"","operation_id":"info","consumes":["application/json"],"parameters":[{"in":"body","name":"body","description":"Folders and documents infos","required":true,"schema":{"$ref":"#/definitions/FileTreeInput"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/FileTreeInfo"}}}}},"/file/tree/restore":{"post":{"tags":["file_tree"],"summary":"Restore documents and folders","description":"","operation_id":"restore","consumes":["application/json"],"parameters":[{"in":"body","name":"body","description":"Folders and documents identifiants","required":true,"schema":{"$ref":"#/definitions/FileTreeInput"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"400":{"description":"Cannot restore because of wrong location"}}}},"/file/tree/trash/restore":{"post":{"tags":["file_tree"],"summary":"Restore all documents and folders in trash","description":"","operation_id":"restoreInTrash","parameters":[],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}}}}},"/file/tree/move":{"put":{"tags":["file_tree"],"summary":"Move a set of folders and documents","description":"","operation_id":"move","consumes":["application/json"],"parameters":[{"name":"to","in":"query","description":"The target folder","required":false,"type":"string"},{"in":"body","name":"body","description":"Folders and documents identifiants","required":true,"schema":{"$ref":"#/definitions/FileTreeInput"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Document or folder doesn't exist"},"409":{"description":"Cannot move a folder into its child folders or itself"}}}},"/file/tree/trash":{"post":{"tags":["file_tree"],"summary":"Move documents and folders to trash","description":"","operation_id":"moveToTrash","consumes":["application/json"],"parameters":[{"in":"body","name":"body","description":"Folders and documents identifiants","required":true,"schema":{"$ref":"#/definitions/FileTreeInput"}},{"name":"check","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/TrashActionResponse"}},"400":{"description":"Cannot trash because of wrong location"},"409":{"description":"Document or folder doesn't exist"}}},"delete":{"tags":["file_tree"],"summary":"Delete all documents and folders in trash","description":"","operation_id":"deleteInTrash","parameters":[],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}}}}},"/file/tree/undo/{action_id}":{"post":{"tags":["file_tree"],"summary":"Undo last user action with documents or folders","description":"","operation_id":"undo","parameters":[{"name":"action_id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"400":{"description":"Cannot undo action"},"409":{"description":"Cannot rename certified document"}}}},"/file/tree/favorite/{favorite_status}":{"post":{"tags":["file_tree"],"summary":"Update the favorite status of multiple documents at once","description":"","operation_id":"updateDocumentsFolderFavoriteStatus","consumes":["application/json"],"parameters":[{"in":"body","name":"body","description":"Folders and documents identifiants","required":true,"schema":{"$ref":"#/definitions/FileTreeInput"}},{"name":"favorite_status","in":"path","required":true,"type":"boolean"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/MarkedDocuments"}},"403":{"description":"At least one document/folder is not owned by authenticated user"},"404":{"description":"At least one of the documents/folders to update the favorite status could not be found"},"409":{"description":"Can't update the favorite status of so many documents/folders in a single request"}}}},"/file/tree/delete":{"post":{"tags":["file_tree"],"summary":"Delete documents and folders","description":"","operation_id":"delete","consumes":["application/json"],"parameters":[{"in":"body","name":"body","description":"Folders and documents identifiants","required":true,"schema":{"$ref":"#/definitions/FileTreeInput"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"400":{"description":"Cannot restore because of wrong location"}}}},"/folder/{folder_id}/info":{"get":{"tags":["folder"],"summary":"Returns folder's size","description":"","operation_id":"info","produces":["application/json"],"parameters":[{"name":"folder_id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/FileTreeInfo"}},"404":{"description":"Cannot find folder"}}}},"/folder/{folder_id}/restore":{"put":{"tags":["folder"],"summary":"Move the folder to safe","description":"","operation_id":"restore","produces":["application/json"],"parameters":[{"name":"folder_id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/FolderMetaData"}},"404":{"description":"Cannot find folder"},"409":{"description":"Folder not in trash"}}}},"/folder/{folder_id}/move":{"put":{"tags":["folder"],"summary":"Move folder to another one","description":"","operation_id":"move","produces":["application/json"],"parameters":[{"name":"folder_id","in":"path","required":true,"type":"string"},{"name":"to","in":"query","description":"The target folder","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/FolderMetaData"}},"404":{"description":"Cannot find folder"},"409":{"description":"Cannot move a folder into its child folders or itself"}}}},"/folder/{folder_id}/trash":{"put":{"tags":["folder"],"summary":"Move the folder to trash","description":"","operation_id":"trash","produces":["application/json"],"parameters":[{"name":"folder_id","in":"path","required":true,"type":"string"},{"name":"check","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/FolderMetaData"}},"404":{"description":"Cannot find folder"},"409":{"description":"Folder already in trash"}}}},"/folder/{folder_id}/documents":{"get":{"tags":["folder"],"summary":"Get folder / documents Tree","description":"","operation_id":"getFolderDocuments","produces":["application/json"],"parameters":[{"name":"folder_id","in":"path","required":true,"type":"string"},{"name":"index","in":"query","description":"The index of the pagination","required":false,"type":"integer","format":"int32"},{"name":"max_results","in":"query","description":"The maximum number of results returned","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"The field on which you want to sort the results","required":false,"type":"string","enum":["TYPE","TITLE","FILENAME","AUTHOR_NAME","CREATION_DATE","WAS_READ","LOCATION","IS_SHARED","SIZE","DIGISHOOT","CHARGEABLE_AMOUNT"]},{"name":"direction","in":"query","description":"The direction in which you want to sort the results, for the given field","required":false,"type":"string","enum":["ASCENDING","DESCENDING"]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DocumentList"}},"400":{"description":"At least one parameter is incorrect (sort, direction, max_results)"},"404":{"description":"Cannot find folder"}}}},"/folder/{folder_id}/favorite_status/{favorite_status}":{"put":{"tags":["folder"],"summary":"Set favorite status to folder","description":"","operation_id":"setFavoriteStatus","produces":["application/json"],"parameters":[{"name":"folder_id","in":"path","required":true,"type":"string"},{"name":"favorite_status","in":"path","required":true,"type":"boolean"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/FolderMetaData"}},"404":{"description":"Cannot find folder"}}}},"/folder":{"post":{"tags":["folder"],"summary":"Creates new folder","description":"","operation_id":"createFolder_3_1","produces":["application/json"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/FolderInput"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/FolderMetaData"}}},"deprecated":true}},"/folder/{folder_id}/rename":{"put":{"tags":["folder"],"summary":"Rename folder","description":"","operation_id":"renameFolder","produces":["application/json"],"parameters":[{"name":"folder_id","in":"path","description":"Folder ID","required":true,"type":"string"},{"in":"body","name":"folder_id","description":"Folder ID","required":true,"schema":{"$ref":"#/definitions/FolderInput"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/FolderMetaData"}},"400":{"description":"Bad input: incorrect new name"},"404":{"description":"Cannot find folder"}}}},"/folder/{folder_id}/rename/{new_name}":{"put":{"tags":["folder"],"summary":"Rename folder name","description":"","operation_id":"rename_3_1","produces":["application/json"],"parameters":[{"name":"folder_id","in":"path","description":"Folder ID","required":true,"type":"string"},{"name":"new_name","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/FolderMetaData"}},"400":{"description":"Bad input: incorrect new name"},"404":{"description":"Cannot find folder"}},"deprecated":true}},"/folder/{folder_id}":{"delete":{"tags":["folder"],"summary":"Delete the folder","description":"","operation_id":"delete","produces":["application/json"],"parameters":[{"name":"folder_id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Cannot find folder"},"409":{"description":"Folder not in trash"}}}},"/folders/trash":{"get":{"tags":["folders"],"summary":"Returns the folders tree","description":"","operation_id":"getTrashFolders_3_1","produces":["application/json"],"parameters":[],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/FolderMetaDataList"}}},"deprecated":true}},"/folders":{"get":{"tags":["folders"],"summary":"Returns the folders tree","description":"","operation_id":"get_3_1","produces":["application/json"],"parameters":[],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/FolderTreeViewList"}}},"deprecated":true}},"/folders/favorite":{"get":{"tags":["folders"],"summary":"Returns the favorite folders","description":"","operation_id":"getFavoriteFolders","produces":["application/json"],"parameters":[],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/FolderMetaDataList"}}}}},"/folders/safe":{"get":{"tags":["folders"],"summary":"Returns the folders tree","description":"","operation_id":"getSafeFolders_3_1","produces":["application/json"],"parameters":[],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/FolderTreeViewList"}}},"deprecated":true}},"/good/{good_id}/procedures":{"get":{"tags":["good"],"summary":"Retrieve the procedures of a Good","description":"","operation_id":"getProcedures","produces":["application/json"],"parameters":[{"name":"good_id","in":"path","description":"The ID of the Good","required":true,"type":"string"},{"name":"index","in":"query","description":"The index of the pagination","required":false,"type":"integer","format":"int32"},{"name":"max_results","in":"query","description":"The maximum number of results returned","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"400":{"description":"Bad pagination."},"403":{"description":"Unknow user."},"404":{"description":"Unknow ID"}}}},"/good/{good_id}/document":{"post":{"tags":["good"],"summary":"Add a document to a Good","description":"","operation_id":"addDocument","produces":["application/json"],"parameters":[{"name":"good_id","in":"path","description":"The ID of the Good","required":true,"type":"string"},{"in":"body","name":"document_id","description":"The id of a document in the safe","required":true,"schema":{"$ref":"#/definitions/DocumentIdInput"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"204":{"description":"Document added"},"403":{"description":"Not user's document."},"404":{"description":"Document doesn't exist."},"409":{"description":"The document is already in this Good."}}}},"/good/{good_id}/timeline":{"get":{"tags":["good"],"summary":"Retrieve the timeline of a Good","description":"","operation_id":"getEvents","produces":["application/json"],"parameters":[{"name":"good_id","in":"path","description":"The ID of the Good","required":true,"type":"string"},{"name":"index","in":"query","description":"The index of the pagination","required":false,"type":"integer","format":"int32"},{"name":"max_results","in":"query","description":"The maximum number of results returned","required":false,"type":"integer","format":"int32"},{"name":"since_id","in":"query","description":"The returned items should be created after the item whose id is the given field","required":false,"type":"string"},{"name":"max_id","in":"query","description":"The returned items should be created before the item whose id is the given field","required":false,"type":"string"},{"name":"type","in":"query","description":"The type of the returned items","required":false,"type":"string"},{"name":"status","in":"query","description":"the object current status","required":false,"type":"string","enum":["ARCHIVED","NOT_ARCHIVED"]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"400":{"description":"Bad pagination."},"403":{"description":"Unknow user."},"404":{"description":"Unknow ID"}}}},"/good/{good_id}/document/{document_id}":{"delete":{"tags":["good"],"summary":"Delete a document from this Good","description":"","operation_id":"deleteDocument","parameters":[{"name":"good_id","in":"path","description":"The ID of the Good","required":true,"type":"string"},{"name":"document_id","in":"path","description":"The id of a document in the safe","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"204":{"description":"Deleted with success"},"403":{"description":"Unknow user."},"404":{"description":"Document isn't in this Good."},"409":{"description":"Not user's document."}}}},"/good/{good_id}/documents":{"get":{"tags":["good"],"summary":"Retrieve the documents of a Good","description":"","operation_id":"getDocuments","produces":["application/json"],"parameters":[{"name":"good_id","in":"path","description":"The ID of the Good","required":true,"type":"string"},{"name":"index","in":"query","description":"The index of the pagination","required":false,"type":"integer","format":"int32"},{"name":"max_results","in":"query","description":"The maximum number of results returned","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DocumentList"}},"400":{"description":"Bad pagination."},"403":{"description":"Unknow user."},"404":{"description":"Unknow Good ID."}}}},"/good/{good_id}/picture":{"get":{"tags":["good"],"summary":"Retrieve the picture of this Good","description":"","operation_id":"getAvatar","parameters":[{"name":"good_id","in":"path","description":"The ID of the Good","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"500":{"description":"Fail"},"403":{"description":"Unknow user."},"404":{"description":"No picture for this Good"}}},"post":{"tags":["good"],"summary":"Create the picture of this Good","description":"","operation_id":"createAvatar","parameters":[{"name":"good_id","in":"path","description":"The ID of the Good","required":true,"type":"string"},{"in":"body","name":"picture","description":"The picture to upload","required":true,"schema":{"$ref":"#/definitions/File"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"500":{"description":"Fail"},"403":{"description":"Unknow user."},"404":{"description":"No picture for this Good"}}},"delete":{"tags":["good"],"summary":"Delete the picture of this Good","description":"","operation_id":"deleteAvatar","parameters":[{"name":"good_id","in":"path","description":"The ID of the Good","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"204":{"description":"Deleted with success"},"403":{"description":"Unknow user."},"404":{"description":"Unknow ID"}}}},"/good":{"post":{"tags":["good"],"summary":"Create a Good","description":"","operation_id":"createGood","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"good_data","description":"The data of the Good","required":true,"schema":{"$ref":"#/definitions/GoodInput"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/GoodData"}},"400":{"description":"Not a valid Good input."},"403":{"description":"Unknow user."},"409":{"description":"The purchase date is in the future."}}}},"/good/{good_id}":{"get":{"tags":["good"],"summary":"Retrieve a Good","description":"","operation_id":"getGood","produces":["application/json"],"parameters":[{"name":"good_id","in":"path","description":"The ID of the Good","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/GoodData"}},"403":{"description":"Unknow user."},"404":{"description":"Unknow Good ID."}}},"put":{"tags":["good"],"summary":"Update a Good","description":"","operation_id":"updateGood","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"good_id","in":"path","description":"The ID of the Good","required":true,"type":"string"},{"in":"body","name":"good_data","description":"The data of the Good","required":true,"schema":{"$ref":"#/definitions/GoodInput"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/GoodData"}},"400":{"description":"Not a valid Good input."},"403":{"description":"Unknow user."},"404":{"description":"Unknow Good ID."},"409":{"description":"The purchase date is in the future."}}},"delete":{"tags":["good"],"summary":"Delete a Good with this id","description":"","operation_id":"deleteGood","produces":["application/json"],"parameters":[{"name":"good_id","in":"path","description":"The ID of the Good","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"403":{"description":"Unknow user."},"404":{"description":"Unknow Good ID."}}}},"/good/{good_id}/procedure":{"post":{"tags":["good"],"summary":"Add a procedure to a Good","description":"","operation_id":"addProcedure","produces":["application/json"],"parameters":[{"name":"good_id","in":"path","description":"The ID of the Good","required":true,"type":"string"},{"in":"body","name":"user_procedure_id","description":"The id of a user procedure","required":true,"schema":{"$ref":"#/definitions/UserProcedureIdInput"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"204":{"description":"Procedure added"},"403":{"description":"Not user's user procedure."},"404":{"description":"User procedure doesn't exist."},"409":{"description":"The user procedure is already in this Good."}}}},"/good/{good_id}/procedure/{user_procedure_id}":{"delete":{"tags":["good"],"summary":"Delete a procedure from this Good","description":"","operation_id":"deleteProcedure","parameters":[{"name":"good_id","in":"path","description":"The ID of the Good","required":true,"type":"string"},{"name":"user_procedure_id","in":"path","description":"The id of a user procedure","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"204":{"description":"Deleted with success"},"403":{"description":"Not user's user procedure."},"404":{"description":"User procedure isn't in this Good."}}}},"/goods":{"get":{"tags":["goods"],"summary":"Returns all user's goods","description":"","operation_id":"listAll","produces":["application/json"],"parameters":[{"name":"index","in":"query","description":"The index of the pagination","required":false,"type":"integer","format":"int32"},{"name":"max_results","in":"query","description":"The maximum number of results returned","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/GoodDataList"}},"400":{"description":"Bad pagination."},"403":{"description":"Unknow user."}}}},"/health/{health_id}/procedures":{"get":{"tags":["health"],"summary":"Retrieve the procedures of a Health Item","description":"","operation_id":"getProcedures","produces":["application/json"],"parameters":[{"name":"health_id","in":"path","description":"the id of the health item","required":true,"type":"string"},{"name":"index","in":"query","description":"The index of the pagination","required":false,"type":"integer","format":"int32"},{"name":"max_results","in":"query","description":"The maximum number of results returned","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"400":{"description":"Bad pagination."},"403":{"description":"Unknow user."},"404":{"description":"Unknow ID"}}}},"/health/{health_id}/document":{"post":{"tags":["health"],"summary":"Add a document to a Health item","description":"","operation_id":"addDocument","produces":["application/json"],"parameters":[{"name":"health_id","in":"path","description":"the id of the health item","required":true,"type":"string"},{"in":"body","name":"document_id","description":"The id of a document in the safe","required":true,"schema":{"$ref":"#/definitions/DocumentIdInput"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"204":{"description":"Document added."},"403":{"description":"Not user's document."},"404":{"description":"Document doesn't exist."},"409":{"description":"The document is already in this health item."}}}},"/health/{health_id}/document/{document_id}":{"delete":{"tags":["health"],"summary":"Delete a document from this health item","description":"","operation_id":"deleteDocument","parameters":[{"name":"health_id","in":"path","description":"the id of the health item","required":true,"type":"string"},{"name":"document_id","in":"path","description":"The id of a document in the safe","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"204":{"description":"Deleted with success."},"403":{"description":"Unknow user."},"404":{"description":"Document isn't in this health item."},"409":{"description":"Not user document."}}}},"/health/{health_id}/documents":{"get":{"tags":["health"],"summary":"Retrieve the documents of an item health","description":"","operation_id":"getDocuments","produces":["application/json"],"parameters":[{"name":"health_id","in":"path","description":"the id of the health item","required":true,"type":"string"},{"name":"index","in":"query","description":"The index of the pagination","required":false,"type":"integer","format":"int32"},{"name":"max_results","in":"query","description":"The maximum number of results returned","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DocumentList"}},"400":{"description":"Bad pagination."},"403":{"description":"Unknow user."},"404":{"description":"Unknow Health ID."}}}},"/health/{health_id}/picture":{"get":{"tags":["health"],"summary":"Retrieve the picture of this health item","description":"","operation_id":"getAvatar","produces":["images/gif","images/png","images/jpg"],"parameters":[{"name":"health_id","in":"path","description":"the id of the health item","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"500":{"description":"Fail"},"403":{"description":"Unknow user."},"404":{"description":"No avatar in this health item"}}},"post":{"tags":["health"],"summary":"Create the picture of this Health Item","description":"","operation_id":"createAvatar","parameters":[{"name":"health_id","in":"path","description":"the id of the health item","required":true,"type":"string"},{"in":"body","name":"picture","description":"The picture to upload","required":true,"schema":{"$ref":"#/definitions/File"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"500":{"description":"Fail"},"403":{"description":"Unknow user."},"404":{"description":"No picture for this health item"}}},"delete":{"tags":["health"],"summary":"Delete the picture of this Health Item","description":"","operation_id":"deleteAvatar","parameters":[{"name":"health_id","in":"path","description":"the id of the health item","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"204":{"description":"Deleted with success"},"403":{"description":"Unknow user."},"404":{"description":"Unknow ID"}}}},"/health/{health_id}":{"get":{"tags":["health"],"summary":"Retrieve a Health","description":"","operation_id":"getHealth","produces":["application/json"],"parameters":[{"name":"health_id","in":"path","description":"the id of the health item","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/HealthData"}},"403":{"description":"Unknow user."},"404":{"description":"Unknow Health ID."}}},"put":{"tags":["health"],"summary":"Update a Health","description":"","operation_id":"updateHealth","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"health_id","in":"path","description":"the id of the health item","required":true,"type":"string"},{"in":"body","name":"health_data","description":"The data of the Health","required":true,"schema":{"$ref":"#/definitions/HealthDataInput"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/HealthData"}},"400":{"description":"Not a valid Health input."},"403":{"description":"Unknow user."},"404":{"description":"Unknow Health ID."}}},"delete":{"tags":["health"],"summary":"Delete a Health with this id","description":"","operation_id":"deleteHealth","produces":["application/json"],"parameters":[{"name":"health_id","in":"path","description":"the id of the health item","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"403":{"description":"Unknow user."},"404":{"description":"Unknow Health ID."}}}},"/health/{health_id}/procedure":{"post":{"tags":["health"],"summary":"Add a procedure to a Health Item","description":"","operation_id":"addProcedure","produces":["application/json"],"parameters":[{"name":"health_id","in":"path","description":"the id of the health item","required":true,"type":"string"},{"in":"body","name":"user_procedure_id","description":"The id of a user procedure","required":true,"schema":{"$ref":"#/definitions/UserProcedureIdInput"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"204":{"description":"Procedure added"},"403":{"description":"Not user's user procedure."},"404":{"description":"User procedure doesn't exist."},"409":{"description":"The user procedure is already in this Health Item."}}}},"/health/{health_id}/procedure/{user_procedure_id}":{"delete":{"tags":["health"],"summary":"Delete a procedure from this health item","description":"","operation_id":"deleteProcedure","parameters":[{"name":"health_id","in":"path","description":"the id of the health item","required":true,"type":"string"},{"name":"user_procedure_id","in":"path","description":"The id of a user procedure","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Response"}},"204":{"description":"Deleted with success."},"403":{"description":"Not user's user procedure."},"404":{"description":"User procedure isn't in this health item."}}}},"/health":{"post":{"tags":["health"],"summary":"create health item","description":"","operation_id":"createHealth","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"health_data","description":"The data of the Health","required":true,"schema":{"$ref":"#/definitions/HealthDataCreate"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/HealthData"}},"400":{"description":"the name is required"},"403":{"description":"Unknown user."}}}},"/healths":{"get":{"tags":["healths"],"summary":"Returns all user's health items","description":"","operation_id":"listAll","produces":["application/json"],"parameters":[{"name":"index","in":"query","description":"The index of the pagination","required":false,"type":"integer","format":"int32"},{"name":"max_results","in":"query"
[...]
